@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2B2B2B;
}

.transition-transform{
    transition: transform 0.3s ease-in-out;
}

@media(max-width : 1024px){
    .NavbarRes{
        font-size: 14px;
        gap:10;
    }
    .button{
        width: 7rem;
        font-size: small;
        height: 2.5rem;
    }
}

@media(max-width : 950px){
    .NavbarRes{
        font-size: 14px;
        gap: 2rem;
    }
    .button{
        width: 7rem;
        font-size: small;
        height: 2.5rem;
    }
    .gap{
        gap: 2rem;
    }
    .header{
        margin-left: 31px;
    }
    .headerh1{
        font-size: 2rem;
    }
    .headerP{
        font-size: 1rem;
    }
}